@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');





:root {
    --primary-color: black;
    --gray-color: gray;
    --off-color:#e2e8f0;
    --black-color: black;
}

body{
    font-family: 'Open Sans', sans-serif;
    padding: 0rem;
    margin: 0;
}

hr{
    margin: 1rem 0rem;
}

.container-fluid{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
   padding: 1rem 1rem;
   
}

/** links **/

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
    margin: auto;
 
}

.link-primary{
    background-color:var(--primary-color);
   border-radius: 0.5rem;
   color: white;
  
  
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border:1px solid var(--primary-color);

}

/** @list **/

.non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding:1rem;
    text-decoration: none;
    
}

/** nav **/

.navigation{
    background-color: var(--black-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.links{
    text-decoration: none;
    color: white;
    margin: 1rem;

}

.navigation-aling{
    text-align: right;
}

/** header **/

.hero{
    max-width: 400px;
    display: block;
    margin: auto;
    margin-top: 2rem;
}

.hero-heading{
    text-align: center;
    color:var(--primary-color);
    padding: 1rem;
}



 /* sections */

 .saction {
    text-align: center;
    margin: auto;
    
 }

 .ow{
  padding-bottom: 1rem;
    background-color: var(--off-color);
 }


 /* footer */


.footer{
    background-color:var(--black-color);
    padding: 1rem; margin:auto;
    text-align: center;
    color: white;
    font-size: 30px;
    
}







